<%
var stmd = require("commonmark");
var writer = new stmd.HtmlRenderer();
var reader = new stmd.Parser();

json.CEFEthics_chatter.forEach(function(row) {
  row.description = writer.render(reader.parse(row.description));
})

%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <main class="interactive">
      <aside class="flow-chart-container">
        <%= t.include("assets/energyfund-ethics.svg") %>
      </aside>

      <section class="descriptions">
        <a class="next">NEXT</a>
        <% json.CEFEthics_chatter.forEach(function(row) { %>
        <article class="chatter" data-stage="<%= row.stage %>">
          <%= row.description %>
        </article>
        <% }) %>
      </section>
    </main>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
